@font-face{
    font-family: 'jay';
    src: url(font/OLD.ttf);
}


@media (max-width: 600px){
    *{
        margin: 0;
        padding: 0;
    }
    
    html{
        scroll-behavior: smooth;
       position: static;
    }
    
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* min-height: 1000px; */
        position: static;
    }
    
    header{
        width: 100%;
        height: 10vh;
        background-color: #fff;
       
    }
    
    header .navbar{
        position: fixed;
        width: 100%;
        height: 8vh;
       transition: .6s;

      
    }
    header .active{
        transition: .6s;
        background-color: #fff;
        z-index: 1000;
    }
    header .navbar .logo{
        width: 20%;
        height: 8vh;
        left: 50%;
        top: 50%;
        /* background: #000; */
        transform: translate(-50%, -50%);
        position: absolute;
    }
    header .navbar .logo img{
        width: 45%;
        height: 65%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      
    }
    header .navbar a .p1{
        text-align: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
        padding-left: 10px;
        font-size: .8em;
        letter-spacing: 0.1em;
        line-height: 1em;
        font-family: jay;
    }
    header .navbar .p2{
        position: absolute;
        top: 40%;
        left: 85%;
        transform: translateX(-100%); 
        transform: translateY(-50%);
        display: inline-block;
        /* background: green; */
        text-decoration: none;
        
    }
    header .navbar .p2 p {
        font-size: 1.5em;
        letter-spacing: 0.05em;
        line-height: 1em;
        color: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }
    .sec{
        position: relative;
        min-height: 100vh;
        display: none;
    }
    
     .search{
        position: absolute;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-50%);
        /* background-color: aqua; */
        width: 100%;
        height: 100px;
    }
    .search input{
        position: absolute;
        top: 50%;
        left: 43%;
        transform: translate(-50%, -50%);
        width: 83%;
        height: 45px;
        border-radius: 20px;
        border: none;
        background-color: transparent;
       
    }
    .search input:focus{
        border: none;
        display: none;
    }
    .search input[placeholder="Quick search"]{
       text-align: left;
       padding-left: 20px;
        display: flex;
        align-items: center;
    }
    .wrapper{
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 33px;
        margin-top: -50px;
        border-radius: 20px;
        border: 1px solid #000;
        /* background-color: #d3d3d391; */
    }
    .wrapper a{
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        top: 2px;
        left: 88%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 9px;
        padding-right: 9px;   
        border-radius: 25px;
        width: 5%;
        color: #000;
    }
    .categories{
        /* position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%); */
        width: 100%;
        height: 70px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
    .cate{
        width: 17%;
        height: 20px;
        background-color: #d3d3d375;
        margin-top: 50px;
        border-radius: 10px;
        margin-left: 5px;
        text-align: center;
        /* display: none; */
    }
    .cate a{
        text-align: center;
        text-decoration: none;
        color: #111;
        font-family: sans-serif;
        font-size: .5em;
        padding-top: -5px;
    }
     .mobile-categories{
        display: block;
        position: absolute;
        width: 90%;
        height: 110px;
        padding-top: 1px;
        /* margin-top: -15px; */
        /* background-color: greenyellow; */
        left: 50%;
        transform: translateX(-50%);
        overflow-y: hidden;
        border-bottom: .5px solid rgba(0, 0, 0, 0.2);
    }
    ::i-block-chrome,  .section_slide{
        display: block;
        position: absolute;
        width: 100%;
        height: 110px;
        padding-top: 1px;
        margin-top: -20px;
        /* background-color: greenyellow; */
        left: 50%;
        transform: translateX(-50%);
        overflow-y: hidden;
        /* border-bottom: .5px solid rgba(0, 0, 0, 0.2); */
    }
   
    .description{
        padding: 10px;
        padding-left: 40px;
        font-size: 10px;
    }
    .slider{
        display: flex;
        width: 190% !important;
        height: 90%;
        /* background-color: greenyellow; */
    }
    .slide{
        width: 100%;
        height: 100%;
        background-color: red;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        border-radius: 50%;
       

    }

    .slider .p {
        width: 100%;
        height: 20px;
        background-color: steelblue;
        position: relative;
        bottom: 40px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-bottom: 20px;
        text-align: center;
    }
    .img{
        height: 100%;
        background-color: steelblue;
        border-radius: 50px;
       
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        /* border-top-left-radius: 50px;
        border-top-right-radius: 50px; */
    }
    .slider .p p{
        margin-top: 10px;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }
    .slider .p span{
        text-align: center;
        color: red;
        
    }
    a{
        text-decoration: none;
    }
    .section_search{
        display: block;
        position: absolute;
        width: 80%;
        height: 120px;
        padding-top: 1px;
        margin-top: 130px;
        background-color: #d3d3d379;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px;
    }
    .section_search .select_1{
        width: 90%;
        height: 40px;
        border: none;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 18px;
        border-radius: 20px;
        padding-left: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -ms-appearance: none;
    }
      
      .section_search .select_2{
        width: 90%;
        height: 40px;
        border: none;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 63px;
        border-radius: 20px;
        padding-left: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -ms-appearance: none;
    }
    .section_one{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    .section_one .items{
        width: 70%;
        height: 50%;
        /* background-color: brown; */
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .section_one .items ul{
        list-style: none;
    }
    .section_one .items ul li{
        text-align: center;
        padding: 5px;
    }
    .section_one .items ul li a{
        color: #000;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
    .section_one .items hr{
       margin-top: 10px;
        border: .5px solid rgba(0, 0, 0, 0.1);
    }
    .section_one .items p{
        margin-top: 10px;
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
    }
    .section_one .items p a{
        text-decoration: none;
        color: #000;
    }
    .section_two{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    .section_two .items{
        width: 80%;
        height: 50%;
        /* background-color: brown; */
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
    .section_two .items ul{
        list-style: none;
    }
    .section_two .items ul li{
        text-align: center;
        padding: 7px;
    }
    .section_two .items ul li a{
        color: #000;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
    .section_two .items hr{
       margin-top: 20px;
        border: .5px solid rgba(0, 0, 0, 0.1);
    }
    .section_two .items p{
        margin-top: 20px;
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
    }
    .section_two .items p a{
        text-decoration: none;
        color: #000;
    }
    .section_two .log_out{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        font-size: 20px;
    }
    .section_two  .log_out a{
        text-decoration: none;
        color: red;
    }
    .section_three{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    .section_three .items{
        width: 80%;
        height: 50%;
        /* background-color: brown; */
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
    .section_three .items ul{
        list-style: none;
    }
    .section_three .items ul li{
        text-align: center;
        padding: 7px;
    }
    .section_three .items ul li a{
        color: #000;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 25px;
    }
    .section_three .items ul li #prof{
        font-size: 22px;
    }
    .section_three .items ul li #job{
        font-size: 23px;

    }
    .section_three .items hr{
       margin-top: 20px;
        border: .5px solid rgba(0, 0, 0, 0.1);
    }
    .section_three .items p{
        margin-top: 20px;
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
    }
    .section_three .items p a{
        text-decoration: none;
        color: #000;
    }
    .section_three .log_out{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        font-size: 20px;
    }
    .section_three  .log_out a{
        text-decoration: none;
        color: red;
    }
    .section_four{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    .section_four .items{
        width: 80%;
        height: 50%;
        /* background-color: brown; */
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    .section_four .items p{
        color: #000;
        text-align: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 25px;
    }
    .section_four .items button{
        width: 100%;
        height: 35px;
        border: none;
        margin-top: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-family: sans-serif;
        font-size: 13px;
        color: #fff;
        background: #000;
        text-transform: uppercase;
    }
    .section_five{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    .section_five .items{
        width: 95%;
        height: 35%;
        /* background-color: brown; */
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
      
    }
    .section_five .items form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section_five .items form input{
        width: 95%;
        height: 35px;
        margin-top: 5px;
        border: none;
        background-color: #d3d3d37e;
        padding-left: 20px;
        color: #000;
    }
    .section_five .items form p {
        text-align: center;
        margin-top: 5px;
        font-size: 12px;
    }
    .section_five .items form p a{
        text-decoration: none;
        color: #000;
    }
    .section_five .items .divider{
        border-bottom: 1px solid #000;
        width: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
       
    }
    .section_five .items button{
        width: 100%;
        margin-top: 15px;
        padding: 7px;
        border: none;
        font-size: 20px;
        color: red;
        background: #000;
    }
    .section_six{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }
    .section_six .items{
        width: 90%;
        height: 40%;
        /* background-color: brown; */
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .section_six .items p{
        color: #000;
        text-align: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 25px;
    }
    .section_six .items button{
        width: 100%;
        height: 35px;
        border: none;
        margin-top: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-family: sans-serif;
        font-size: 10px;
        color: #fff;
        background: #000;
        text-transform: uppercase;
    }
    .section_six .items #create_account{
        width: 100%;
        padding-bottom: 10px;
        font-size: 14px;
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section_six .items #create_account a{
        text-decoration: none;
        color: #000;
       
    }
    .section_six .divider{
        border-bottom: 1px solid #000;
        width: 85%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
       
    }
    .section_six #sign_up{
        width: 100%;
        padding-bottom: 10px;
        font-size: 14px;
        position: absolute;
        top: 55%;
        margin-top: 25px;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section_six #sign_up a{
        text-transform: uppercase;
        font-size: 20px;
        font-family: sans-serif;
        color: red;
    }
    .section_seven{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        /* display: none; */
    }
    .section_seven .items{
        width: 100%;
        height: 60%;
        /* background-color: brown; */
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
      
    }
    .section_seven .items form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        /* align-items: center; */
    }
    .section_seven .items form label{
        text-align: left;
        font-size: 15px;
        width: 100%;
        height: 20px;
        margin-left: -1px;
        padding-top: 10px;
       /* background: #000; */
    }
    .section_seven .items form input{
        width: 95%;
        height: 35px;
        margin-top: 5px;
        border: none;
        background-color: #d3d3d37e;
        padding-left: 20px;
        color: #000;
        flex: 0 0 0;
    }

    .section_seven .items form p {
        text-align: center;
        margin-top: 5px;
        font-size: 12px;
    }
    .section_seven .items form p a{
        text-decoration: none;
        color: #000;
    }
    .section_seven .items form .birthday{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .section_seven .items form .gender{
        width: 100%;
        /* background: #000; */
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .ll,.lf{
        float: left;
    }
    .section_seven .items form legend{
       
        
        margin: 20px;
       margin-top: 0;
      
    }
    .section_seven .items form legend p{
        font-size: 15px;
    }
    .section_seven .items form input[type="radio"]{
       width: 20px;
       height: 15px;
       margin-left: 10px;
/*        
       -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -ms-appearance: none; */
    }
    .section_seven .items form select{
        width: 30%;
        height: 35px;
        margin-top: 5px;
        border: none;
        background-color: #d3d3d37e;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.6);  
       
        padding-left: 10px;  
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -ms-appearance: none;
    }
    
    .section_seven .items .divider{
        border-bottom: 1px solid #000;
        width: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);   
    }
    .section_seven .items button{
        width: 100%;
        margin-top: 15px;
        padding: 7px;
        border: none;
        font-size: 20px;
        color: red;
        background: #000;
    }
    footer{
        position: absolute;
        height: 20px;
        width: 100%;
        background-color: #d3d3d3;
        top: 100%;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
    }
    footer p{
        text-align: center;
        font-family: jay;
        font-size: 9px;
        letter-spacing: .5px;
    }
}





@media (max-width: 320px){
    .slider{
        display: flex;
        width: 220% !important;
        height: 90%;
        /* background-color: greenyellow; */
    }
}

@-moz-document url-prefix() {
    .section_search {
        margin-top: 115px;
    }
}