@media (max-width: 500px){
    *{
        margin: 0;
        padding: 0;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-height: 1000px;
    }
    
    header{
        width: 100%;
        height: 10vh;
        background-color: #fff;
        position: absolute;
        top: 65px;
    }
    
    header .navbar{
        position: fixed;
        width: 100%;
        height: 8vh;
        background-color: #fff;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5);
        border-bottom: 2px solid #000;
        display: flex;
        top: 0px;
      
    }
    
    header .navbar .logo{
        align-items: center;
        display: flex;
        width: 100%;
        height: 100%;
    
    }
    
    header .navbar .logo img{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    header .navbar .ser{
        display: flex;
        align-items: center;
        position: relative;
        left: 62%;
        
    }
    
    header .navbar .ser a{
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 10px;
    }
    
    header .join{
        display: none;
    }
    
    /* header .join a{
        position: relative;
        top: 5px;
        text-decoration: none;
        text-transform: uppercase;
        color: whitesmoke;
    } */
    
    .sec{
        position: relative;
        min-height: 100vh;
    }
    
    .search{
        position: absolute;
        top: 21%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color: aqua; */
        width: 100%;
        height: 100px;
    }
    
    .wrapper{
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 33px;
        margin-top: -50px;
        border-radius: 20px;
        border: none;
        background-color: #d3d3d391;
    }
    
    .search input{
        position: absolute;
        top: 50%;
        left: 43%;
        transform: translate(-50%, -50%);
        width: 83%;
        height: 45px;
        border-radius: 20px;
        border: none;
        background-color: transparent;
       
    }
    
    /* .search input[placeholder="Quick search"]{
       text-align: center;
        display: flex;
        align-items: center;
    } */
    
    .wrapper a{
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        top: 2px;
        left: 88%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 9px;
        padding-right: 9px;
        background-color: #fff;
        border-radius: 25px;
        width: 5%;
        color: #000;
    }
    .categories{
        position: absolute;
        top: 21.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 70px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
        display: flex;
        /* background-color: aqua; */
    }
    
    .cate{
        position: relative;
        top: 0px;
        width: 16%;
        left: 12px;
        background-color: #d3d3d375;
        border-radius: 10px;
        margin: 5px;
        margin-top: 1px;
        margin-bottom: 45px;
        padding: 0px;
        text-align: center;
        /* display: none; */
    }
    
    .cate a{
        position: relative;
        top: 0px;
        text-decoration: none;
        color: #111;
        font-family: sans-serif;
        font-size: 11px;
    }
    
    .categories p{
        display: none;
    }
    .mobile-categories{
        display: block;
        position: absolute;
        width: 90%;
        height: 120px;
        /* background: blue; */
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .mobile-categories .slider{
        position: absolute;
        height: 100%;
        width: 300%;
        animation: animate 20s linear infinite;
       
    }
    .mobile-categories .slider .slide{
        width: 10%;
        height: 100%;
        float: left;
        margin: 10px;
        position: relative;
        top: -10px;
        border-radius: 20px;
      
    }
    .mobile-categories .slider .img_1{
        background-color: red;
        
    }
    .mobile-categories .slider .img_2{
        background-color: yellow;
       
    }
    .mobile-categories .slider .img_3{
        background-color: green;

    }
    .mobile-categories .slider .img_4{
        background-color: violet;

    }
    .mobile-categories .slider .img_5{
        background-color: gray;

    }
    .mobile-categories .slider .img_6{
        background-color: purple;

    }

    @keyframes animate{
        0%{
            left: 0;
        }
        20%{
            left: 0;
        }
        25%{
            left: -30%;
        }
        45%{
            left: -30%;
        }
        50%{
            left: -70%;
        }
        70%{
            left: -70%;
        }
        75%{
            left: -100%;
        }
        95%{
            left: -100%;
        }
        100%{
            left: -120%;
        }
    }
     .p{
        text-align: center;
        position: absolute;
        top: 125px;
        left: 30px;
        width: 100%;
        height: 25px;
        margin: -30px;
        background-color: rgba(17, 17, 17, 0.9);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
       
     }
     .mobile-categories .slider .slide p{
        color: #fff;
        font-size: 12px;
        font-family: sans-serif;
        position: relative;
        top: 2px;
     }
     h3{
         position: absolute;
         top: 21.5%;
         left: 20px;
         font-family: sans-serif;
         font-weight: 500;
         font-size: 15px;
     }
     .divider{
        width: 90%;
        height: 1px;
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
     }
    .mobile_location{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, .2);
        width: 80%;
        height: 100px;
        border-radius: 20px;
     }
    .mobile_location input{
        position: relative;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 2px;
        width: 90%;
        border-radius: 20px;
        border: none;
        height: 35px;
    }
    .mobile_location input[placeholder="Select location"]{
        text-align: left;
        padding-left: 20px;
    }
    .mobile_location input[placeholder="Select category"]{
        text-align: left;
        padding-left: 20px;
    }
    .mobile_location a{
        position: absolute;
        right: 50px;
        top: 23px;
        text-decoration: none;
        color: rgb(219, 29, 92);
        font-weight: 600;
        font-family: sans-serif;
        letter-spacing: .5px;
    }
    .mobile_workcontent{
        position: absolute;
        padding-top: 1350px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color: rgba(0, 0, 0, .2); */
        width: 90%; 
        margin-top: 100px;
        /* min-height: 1000px;   */
    }
    .mobile_workcontent .work{
        position: relative;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: rgba(0, 0, 0, .5);
        width: 80%; 
        height: 300px;  
        border-radius: 30px;
        margin-top: 10px;
    }
    .menu{
        position: absolute;
        display: block;
    }
    .menu ul{
       
        list-style: none;
    }
    .menu ul li {
        float: left;
        position: relative;
        top: 20px;
        padding: 5px;
        height: 3px;
        text-align: center;
    }
    .menu ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 10px;
        position: relative;
        top: -9px;
    }
    .menu ul .sign{
        position: relative;
        text-align: center;
        /* top: 15px; */
        border-left: 2px solid #000;
        border-right: 2px solid #000;
    }
    .active{
        display: block !important;
        transition: .6s;
      
    }
    
    .sign_up{
        display: none;
        position: absolute;
        width: 100%;
        height: 500vh;
        background-color: #fff;
        z-index: 1000;
        transition: .6s;
    }
    .signup_body{
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    .signup_body .signup_back{
        position: absolute;
        margin-top: 70px;
        left: 20px;
        text-decoration: none;
        padding: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 30px;
        background: rgba(0, 0, 0, .1);
        color: #000;
        font-family: sans-serif;
        font-weight: 500;
    }
    .signup_body  .signup_page{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 70vh;
        border: 2px solid rgba(0, 0, 0, .1);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .1);
        border-radius: 10px;
    }
    .signup_body .signup_page label{
        position: absolute;
        padding: 15px;
        font-size: 12px;
        font-family: sans-serif;
    }
}

