@font-face{
    font-family: 'jay';
    src: url(font/OLD.ttf);
}
@media (max-width: 450px){
    *{
        margin: 0;
        padding: 0;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-height: 1000px;
    }
    
    header{
        width: 100%;
        height: 10vh;
        background-color: #fff;
    }
    
    header .navbar{
        position: fixed;
        width: 100%;
        height: 10vh;
        /* background-color: red; */
       

      
    }
    header .navbar .logo{
        width: 20%;
        height: 8vh;
        left: 50%;
        top: 50%;
        /* background: #000; */
        transform: translate(-50%, -50%);
        position: absolute;
    }
    header .navbar .logo img{
        width: 50%;
        height: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      
    }
    header .navbar a .p1{
        text-align: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
        padding-left: 10px;
        font-size: .8em;
        letter-spacing: 0.1em;
        line-height: 1em;
        font-family: jay;
    }
    header .navbar .p2{
        position: absolute;
        top: 40%;
        left: 85%;
        transform: translateX(-100%); 
        transform: translateY(-50%);
        display: inline-block;
        /* background: green; */
        text-decoration: none;
        
    }
    header .navbar .p2 p {
        font-size: 1.5em;
        letter-spacing: 0.05em;
        line-height: 1em;
        color: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }
    .sec{
        position: relative;
        min-height: 100vh;
    }
    
     .search{
        position: absolute;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-50%);
        /* background-color: aqua; */
        width: 100%;
        height: 100px;
    }
    .search input{
        position: absolute;
        top: 50%;
        left: 43%;
        transform: translate(-50%, -50%);
        width: 83%;
        height: 45px;
        border-radius: 20px;
        border: none;
        background-color: transparent;
       
    }
    .search input:focus{
        border: none;
        display: none;
    }
    .search input[placeholder="Quick search"]{
       text-align: left;
       padding-left: 20px;
        display: flex;
        align-items: center;
    }
    .wrapper{
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 33px;
        margin-top: -50px;
        border-radius: 20px;
        border: 1px solid #000;
        /* background-color: #d3d3d391; */
    }
    .wrapper a{
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        top: 2px;
        left: 88%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 9px;
        padding-right: 9px;   
        border-radius: 25px;
        width: 5%;
        color: #000;
    }
    .categories{
        /* position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%); */
        width: 100%;
        height: 70px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
    .cate{
        width: 17%;
        height: 20px;
        background-color: #d3d3d375;
        margin-top: 50px;
        border-radius: 10px;
        margin-left: 5px;
        text-align: center;
        /* display: none; */
    }
    .cate a{
        text-align: center;
        text-decoration: none;
        color: #111;
        font-family: sans-serif;
        font-size: .5em;
        padding-top: -5px;
    }
    .mobile-categories{
        display: block;
        position: absolute;
        width: 90%;
        height: 110px;
        padding-top: 1px;
        margin-top: -15px;
        /* background-color: greenyellow; */
        left: 50%;
        transform: translateX(-50%);
        overflow-y: hidden;
    }
    .description{
        padding: 10px;
        padding-left: 40px;
        font-size: 10px;
    }
    .slider{
        display: flex;
        width: 220%;
        height: 100%;
    }
    .slide{
        width: 100%;
        height: 95%;
        background-color: red;
        margin-left: 5px;
        margin-right: 0px;
        margin-bottom: 0px;
        border-radius: 50%;
       

    }

    .slider .p {
        width: 100%;
        height: 20px;
        background-color: steelblue;
        position: relative;
        bottom: 40px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-bottom: 20px;
        text-align: center;
    }
    .img{
        height: 100%;
        background-color: steelblue;
        border-radius: 50px;
       
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        /* border-top-left-radius: 50px;
        border-top-right-radius: 50px; */
    }
    .slider .p p{
        margin-top: 10px;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }
    .slider .p span{
        text-align: center;
        color: red;
        
    }
    a{
        text-decoration: none;
    }
    
}

