*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 1000px;
}

header{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    position: absolute;
    top: 65px;
}

header .navbar{
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5);
    border-bottom: 2px solid #000;
    display: flex;
    top: 0px;
    z-index: 1000;
}

header .navbar .logo{
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;

}

header .navbar .logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .join{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-color: #111;
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

header .join a{
    position: relative;
    top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}

.sec{
    position: relative;
    min-height: 100vh;
}

.search{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: yellow; */
    width: 100%;
    height: 100px;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50px;
    margin-top: -50px;
    border-radius: 20px;
    border: none;
    background-color: #d3d3d3;
}

.search input{
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 83%;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    border: .5px solid whitesmoke;
}

.search input[placeholder="Quick search"]{
   text-align: center;
    display: flex;
    align-items: center;
}

.wrapper a{
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 89%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: #fff;
    border-radius: 25px;
    width: 5%;
    color: #000;
}

.categories{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
    display: flex;
    /* background-color: aqua; */
}

.cate{
    position: relative;
    top: 30px;
    width: 70%;
    background-color: #d3d3d375;
    border-radius: 10px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.cate a{
    position: relative;
    top: 5px;
    text-decoration: none;
    color: #111;
    font-family: sans-serif;
}

.categories p{
    position: absolute;
    left: 30px;
}

.mobile-categories{
    display: block;
    position: absolute;
    width: 50%;
    height: 150px;
    /* background: blue; */
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.mobile-categories .slider{
    position: absolute;
    height: 100%;
    width: 300%;
    animation: animate 20s linear infinite;
   
}
.mobile-categories .slider .slide{
    width: 6.5%;
    height: 100%;
    float: left;
    margin: 10px;
    position: relative;
    top: -10px;
    border-radius: 20px;
  
}
.mobile-categories .slider .img_1{
    background-color: red;
    
}
.mobile-categories .slider .img_2{
    background-color: yellow;
   
}
.mobile-categories .slider .img_3{
    background-color: green;

}
.mobile-categories .slider .img_4{
    background-color: violet;

}
.mobile-categories .slider .img_5{
    background-color: gray;

}
.mobile-categories .slider .img_6{
    background-color: purple;

}

@keyframes animate{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -30%;
    }
    45%{
        left: -30%;
    }
    50%{
        left: -70%;
    }
    70%{
        left: -70%;
    }
    75%{
        left: -100%;
    }
    95%{
        left: -100%;
    }
    100%{
        left: -120%;
    }
}
 .p{
    text-align: center;
    position: absolute;
    top: 155px;
    left: 30px;
    width: 100%;
    height: 25px;
    margin: -30px;
    background-color: rgba(17, 17, 17, 0.9);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
 }
 .mobile-categories .slider .slide p{
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    position: relative;
    top: 2px;
 }
 h3{
     position: absolute;
     top: 31.5%;
     left: 28%;
     font-family: sans-serif;
     font-weight: 500;
     font-size: 15px;
 }

.sign_up{
    display: none;
}

.menu{
    display: none;
}