*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 1000px;
}

header{
    width: 100%;
    height: 25vh;
    background-color: rgb(255, 217, 0);
    position: absolute;
    top: 65px;
}

header .navbar{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .5);
    display: flex;
    top: 0px;
    z-index: 1000;
}

header .navbar .logo{
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;

}

header .navbar .logo img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .navbar .ser{
    display: flex;
    align-items: center;
    position: relative;
    left: 80%;
    
}

header .navbar .ser a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: sans-serif;
    font-weight: 600;
}

header .join{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-color: #111;
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

header .join a{
    position: relative;
    top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}

.sec{
    position: relative;
    min-height: 100vh;
}

.search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: yellow; */
    width: 100%;
    height: 100px;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50px;
    margin-top: -50px;
    border-radius: 20px;
    border: none;
    background-color: #d3d3d3;
}

.search input{
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 83%;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    border: .5px solid whitesmoke;
}

.search input[placeholder="Quick search"]{
   text-align: center;
    display: flex;
    align-items: center;
}

.wrapper a{
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 89%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: #fff;
    border-radius: 25px;
    width: 5%;
    color: #000;
}

.categories{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 70px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
    display: flex;
    /* background-color: aqua; */
}

.cate{
    position: relative;
    top: 30px;
    width: 70%;
    background-color: #d3d3d375;
    border-radius: 10px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.cate a{
    position: relative;
    top: 5px;
    text-decoration: none;
    color: #111;
    font-family: sans-serif;
}

.categories p{
    position: absolute;
    left: 30px;
}

.mobile-categories{
    display: none;
}

.sign_up{
    display: none;
}

.menu{
    display: none;
}